src/main/mule/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="helloFlow" doc:id="f663c9d9-825b-43ef-87ee-868c1421cdb9">
		<http:listener doc:name="GET /hello"
			doc:id="6c0e8395-df4b-4c67-9c2c-386456babfa9" config-ref="HTTP_Listener_config"
			path="/hello" allowedMethods="GET" />
		<http:request method="GET" doc:name="GET RANDOM DATA" doc:id="7e53131a-fa12-411b-99dc-a2262f2d5814" config-ref="HTTP_Request_Random_cfg" path="${random.basePath}"/>
		<ee:transform doc:name="JSON message"
			doc:id="9c99bbf1-3309-4df7-9b79-53969200af2d">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	message: "Hello $(payload.name default 'there') from $(payload.region default 'somewhere')!"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger"
			doc:id="209e3c06-174a-42de-8e4f-55c36130bc11" />
	</flow>
</mule>
